:root {
  --color-text: #2c3e50;
  --color-text-light: #ffffff;
  --color-success: #3f701f;
  --color-danger: #d61c1c;
  --color-gray: #d1d1d1;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
